$base-font-size: 15px;
$primary-white: hsl(0, 0%, 100%);
$primary-black: hsl(0, 0%, 0%);
$primary-d-gray: hsl(0, 0%, 55%);
$primary-vd-gray: hsl(0, 0%, 41%);
$font-primary: 'Alata', sans-serif;
$font-secondary: 'Josefin Sans', sans-serif;
