.creations {
    position: relative;

    .section-header {
        font-family: $font-secondary;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 3.2*$base-font-size;
        line-height: 100%;
    }

    .btn {
        padding: 15px 30px;
        border: 1px solid #000;
        border-radius: 0;
        background-color: transparent;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        transition: all 0.3s;
        
    }

    .btn:hover{
        background-color: #000;
        color: $primary-white;
        cursor: pointer;
    }

    .container:first-of-type {
        align-items: center;
        justify-content: space-between;
    }

    .container:last-of-type {
        justify-content: space-between;
    }


    .creation {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        height: 450px;
        width: 22%;
        margin-bottom: 40px;

        .creation-title {
            position: absolute;
            bottom: 25px;
            left: 25px;
            font-size: 2.1*$base-font-size;
            line-height: 100%;
            text-transform: uppercase;
            color: $primary-white;
            font-family: $font-secondary;
            font-weight: 300;
            margin: 0;
        }

        .creation-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: inherit;
            background-color: rgba(0,0,0,0.3);
        }
    }


    

    #deep-earth {
        background-image: url('../images/desktop/image-deep-earth.jpg');
    }

    #night-arcade {
        background-image: url('../images/desktop/image-night-arcade.jpg');
    }

    #soccer-team {
        background-image: url('../images/desktop/image-soccer-team.jpg');
    }

    #the-grid {
        background-image: url('../images/desktop/image-grid.jpg');
    }

    #from-up-above {
        background-image: url('../images/desktop/image-from-above.jpg');
    }

    #pocket-borealis {
        background-image: url('../images/desktop/image-pocket-borealis.jpg');
    }

    #the-curiosity {
        background-image: url('../images/desktop/image-curiosity.jpg');
    }

    #make-it-fisheye {
        background-image: url('../images/desktop/image-fisheye.jpg');
    }


    @media screen and (max-width: 992px) {

        .section-header {
            text-align: center;
            font-size: 2.1*$base-font-size;
            line-height: 100%;
        }

        .container {
            width: 100%;
            margin-bottom: 20px;
        }
        
        .section-header,
        .btn {
            margin: 0 auto;
        }

        .creation {
            height: 120px;
            margin-bottom: 24px;
            margin-right: 0;
            width: 100%;

            .creation-title {
                bottom: 10px;
                left: 10px;
                font-size: 1.6*$base-font-size;
            }
        }

        #deep-earth {
            background-image: url('../images/mobile/image-deep-earth.jpg');
        }
    
        #night-arcade {
            background-image: url('../images/mobile/image-night-arcade.jpg');
        }
    
        #soccer-team {
            background-image: url('../images/mobile/image-soccer-team.jpg');
        }
    
        #the-grid {
            background-image: url('../images/mobile/image-grid.jpg');
        }
    
        #from-up-above {
            background-image: url('../images/mobile/image-from-above.jpg');
        }
    
        #pocket-borealis {
            background-image: url('../images/mobile/image-pocket-borealis.jpg');
        }
    
        #the-curiosity {
            background-image: url('../images/mobile/image-curiosity.jpg');
        }
    
        #make-it-fisheye {
            background-image: url('../images/mobile/image-fisheye.jpg');
        }

        .btn {
            position: absolute;
            bottom: 0px;
            left: 25%;
            right: 25%;;
        }
    }

}